<%= form_with model: [ @post, @post.comments.build(parent_id: local_assigns[:parent_id]) ] do |form| %>
  <%= form.hidden_field :parent_id %>
  <p>
    <%= form.text_area :body %>
    <% if @comment.errors.any? %>
      <div class="error-message">
        <%= @comment.errors.full_messages_for(:body).join(", ") %>
      </div>
    <% end %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>