<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<p>Posted by: <%= @post.user.email %></p>

<%= render 'comments/form' %>

<%= render partial: "comments/comment", collection: @post.comments.where(parent_id: nil) %>